body.modal-open {
  overflow: hidden;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-regular {
  font-weight: 300;
}
.font-weight-light {
  font-weight: 200;
}
.font-weight-thin {
  font-weight: 100;
}
.hr {
  border-bottom: solid #536dfe 4px;
  width: 30%;
}
.btn {
  border-radius: 5px;
}
.border-istimewa {
  border-width: 2px !important;
  border-color: #4285f4 !important;
}
footer {
  position: relative;
  width: 100%;
  font-size: 13px;
  bottom: 0;
  color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}
/* 
SCROLLBAR
*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #4285f4;
}
/* 
MEDIA PRINT
*/
@media print {
  @page {
    size: landscape;
    width: auto;
    margin: 1px;
  }
  #navdashboard,
  #no-print {
    display: none;
  }
  body {
    background-color: #fff !important;
  }
  #print {
    display: block !important;
  }
  #print-kwitansi {
    margin-top: -40px;
  }
  table,
  table tr td,
  table tr th {
    font-size: 10px;
  }
}
